.header_logo{
    width: 150px !important;
}

.main_bg_nav{
    position: sticky !important;
}

.header_links{
    margin: 0px 10px !important;
    /* padding: 5px 10px; */
    color: white !important;
    font-family: 'Montserrat', sans-serif;

}

.header_links:hover{
        color: #FA001F !important;
}

.header_link_by_arch{
    margin: 0px 10px;
    /* padding: 5px 10px; */
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

.header_link_by_arch:hover{
    color: #FA001F !important;
}

.all_hvr:hover{
    color: #FA001F !important;
}

.main_bg_nav{
    background-color: black !important;
    padding: 25px 0px !important;
    width: 100% !important;
    position: sticky !important;
    top: 0 px !important;
    z-index: 1030 !important;
  
}

.info_icon{
    color: white;
}


.button_arrrr{
    background-color: transparent !important;
    outline:  none !important;
    border:none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.info_list{
    background: linear-gradient(90deg, #FA001F 0%, #fc6475 100%);
    color: white;
    display: flex;
    align-items: center;
    height: 35px;
}
.info_list_2{
    background: linear-gradient(90deg, #FA001F 0%, #fc6475 100%);
    color: white;
    display: flex;
    align-items: center;
    height: 35px;
}

.icon_edt{
    font-size: 25px;
}

.info_list_2 .dropdown-menu {
    position: absolute !important;
    left: -50px !important;
    /* z-index: 9999; */
}



@media only screen and (max-width:600px){
    .header_logo{
        width: 240px !important;
    }
    .info_list{
        justify-content: center !important;
    }
    .info_list_2{
        justify-content: center !important;
    }
    .info_list_2 .dropdown-menu {
        position: absolute !important;
        left: 0px !important;
        /* z-index: 9999; */
    }
   
}

